
body{
  background-color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh   
}


#canvas{
  border:1px solid #fff;
  width: 599px;
  width: 599px;
  background-color: #1f1f1f;

}